{% extends "base.html" %}

{% block "title" %}Taisymas{% endblock %}

{% block "content" %}
<p>Data: {{ order.date }}</p>
<p>Terminas: <span class="{% if order.is_overdue %}text-danger{% endif %}">{{ order.deadline }}</span></p>
<p>Klientas:
    {% if order.client.photo %}
    <img src="{{ order.client.photo.url }}" class="rounded-circle" style="width: 20px">
    {% endif %}
    {{ order.client }}
</p>
<p>Automobilis: {{ order.car }}</p>
<p>Būsena: {{ order.get_status_display }}</p>
{% if order.client == user %}
<div class="mb-2">
    <a class="btn btn-warning" href="{% url 'orders_edit' order.pk %}">Redaguoti</a>
    <a class="btn btn-danger" href="{% url 'orders_delete' order.pk %}">Ištrinti</a>
</div>
<div>
    <a class="btn btn-primary" href="{% url 'orderline_new' order.pk %}">Pridėti paslaugą</a>
</div>
{% endif %}

<table class="table table-hover">
    <thead>
      <tr>
        <th>Paslauga</th>
        <th>Kaina</th>
        <th>Kiekis</th>
        <th>Suma</th>
          {% if order.client == user %}
        <th></th>
          {% endif %}
      </tr>
    </thead>
    <tbody>
    {% for line in order.lines.all %}
      <tr>
        <td>{{ line.service.name }}</td>
        <td>{{ line.service.price }}</td>
        <td>{{ line.quantity }}</td>
        <td>{{ line.line_sum }}</td>
        {% if order.client == user %}
        <td>
            <div>
                <a class="btn btn-warning" href="{% url 'orderline_edit' line.pk %}">Redaguoti</a>
                <a class="btn btn-danger" href="{% url 'orderline_delete' line.pk %}">Trinti</a>
            </div>
        </td>
        {% endif %}
      </tr>
    {% endfor %}
        <tr>
        <th colspan="3">BENDRA SUMA</th>
        <th>{{ order.total }}</th>
        {% if order.client == user %}
            <td></td>
        {% endif %}
      </tr>
    </tbody>
  </table>

{% if user.is_authenticated %}
<h2>Palikite atsiliepimą</h2>
<form method="post" class="mb-2">
    {% csrf_token %}
    {% load crispy_forms_tags %}
    {{ form | crispy }}
    <button type="submit" class="btn btn-primary">Paskelbti</button>
</form>
{% endif %}
<h2>Komentarai:</h2>
<br/>
{% for comment in order.comments.all %}
<p><strong>
    {% if comment.author.photo %}
    <img src="{{ comment.author.photo.url }}" class="rounded-circle" style="width: 30px">
    {% endif %}
    {{ comment.author }}</strong>, <em>{{ comment.date_created }}</em>
</p>
<p>{{ comment.content }}</p>
<hr>
{% empty %}
<p>Komentarų nėra</p>
{% endfor %}

{% endblock %}